{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
<div class="container-fluid d-flex flex-column align-items-center justify-content-between home-preview position-fixed z-0">
</div>
<div class="container-fluid d-flex align-items-top justify-content-start preview-content position-fixed z-1">
    <div class="col-6 d-flex justify-content-center align-items-end">
        <img class="image-container col-9" src="{{ asset('img/our-cats.png')}}" alt="cat">
    </div>
   
    <div class="logo-group blured d-flex col-6 flex-column align-items-center justify-content-center">
            <h1>Available kittens</h1>
            <div class="arrow-group d-flex justify-content-between align-items-center">
                <div class="arrow-end"><img src="{{ asset('img/arrow/ending.svg') }}" alt="arrow end"></div>
                <div class="arrow-body"></div>
                <div class="arrow-end"><img src="{{ asset('img/arrow/ending.svg') }}" alt="arrow end"></div>
            </div>
            <h2 class="text-capitalize text-white">Main Coons</h2>
        </div>
</div>

<div class="container-fluid position-absolute z-2 main-content">
    <div class="section section-white container-fluid">
        <div class="container">
            <div class="title">
                <h2>Choose litter</h2>
            </div>

             <div class="swiper swiper-kittens container slider-container">
                <div class="swiper-wrapper ">
                    {% for button in buttons %}
                        <div class="swiper-slide image-container">
                            <button class="btn litter-button d-flex flex-column justify-content-center align-items-center {% if button.status %}available{% else %}not-available{% endif %}" onclick="selectLitter({{ button.id }})">
                                <span>{{button.name}}</span>
                                <p>{% if button.status is same as(true) %}Available kittens{% else %}All kittens adopted{% endif %}</p>
                            </button>
                        </div>
                    {% endfor %}
                     <div class="swiper-slide image-container"><img src="{{ asset('img/slider/1.webp') }}" alt="slider slide"></div>
            <div class="swiper-slide image-container"><img src="{{ asset('img/slider/2.webp') }}" alt="slider slide"></div>
            <div class="swiper-slide image-container"><img src="{{ asset('img/slider/3.webp') }}" alt="slider slide"></div>
            <div class="swiper-slide image-container"><img src="{{ asset('img/slider/4.webp') }}" alt="slider slide"></div>
            <div class="swiper-slide image-container"><img src="{{ asset('img/slider/5.webp') }}" alt="slider slide"></div>
      
                </div>

                <div class="swiper-pagination"></div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>    
            </div>

        </div>
    </div>

    <div class="section section-green container-fluid">
        <div class="container d-flex flex-column align-items-center justify-content-center" id="litter-block">
        {% if litter is not null %}
            <div class="title d-flex flex-column align-items-center justify-content-center">
                <h2>LITTER {{ litter.name }}</h2>
                <img src="{{ asset('img/arrow/simple-arrow.png') }}" alt="arrow">
                <p>{{ litter.date | date('d.m.Y') }}</p>
            </div>

            <div class="section-inner d-flex justify-content-center align-items-start litter__parents">
                <div class="col-3 cat-parent d-flex flex-column align-items-center">
                    <div class="image-container shaded-green">
                        <img src="{{ asset('img/cats/' ~ mother.imageLink )}}" alt="Cat mother">
                    </div>
                    <h4>{{ mother.name }}</h4>
                </div>

                <div class="parent-divider">
                    <img src="{{ asset('img/arrow/litter-divider-lg.png') }}" alt="arrow">
                </div>
            
                <div class="col-3 cat-parent d-flex flex-column align-items-center">
                    <div class="image-container shaded-green">
                        <img src="{{ asset('img/cats/' ~ father.imageLink )}}" alt="Cat father">
                    </div>
                    <h4>{{ father.name }}</h4>
                </div>
            </div>

            <div class="section-white container section d-flex flex-wrap section-kittens justify-content-center">
                {% for kitten in kittens %}
                    <div class="col-3 d-flex flex-column align-items-center">
                        <div class="image-container">
                            <img src="{{ asset('img/kittens/' ~ kitten.imageLink )}}" alt="kitten">
                        </div>
                        <h4>{{ kitten.name }}</h4>
                        <div class="kitten-status 
                        {% if kitten.kittenStatus == 'At home' %}status-home{% endif %}
                        {% if kitten.kittenStatus == 'Reserved' %}status-reserved{% endif %}
                        {% if kitten.kittenStatus == 'Available' %}status-available{% endif %}">
                            <span>{{ kitten.kittenStatus }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <h2>No active litter available!</h2>
        {% endif %}
  
    </div>
</div>
{% include 'footer.html.twig' %}

{% endblock %}
