{% extends 'base.html.twig' %}

{% block title %}Grande Linci LV - Home{% endblock %}

{% block body %}

<div class="container-fluid d-flex flex-column align-items-center justify-content-between home-preview position-fixed z-0">
</div>
<div class="container-fluid d-flex flex-column align-items-center justify-content-between preview-content position-fixed z-1">
    <div class="logo-group container d-flex flex-column align-items-center justify-content-center">
            <h1>GRANDE LINCI* LV</h1>
            <div class="arrow-group d-flex justify-content-between align-items-center">
            <div class="arrow-end"><img src="{{ asset('img/arrow/ending.svg') }}" alt="arrow end"></div>
            <div class="arrow-body"></div>
            <div class="arrow-end"><img src="{{ asset('img/arrow/ending.svg') }}" alt="arrow end"></div>
            </div>
            <p class="sublogo">Maine Coon and Oriental Cattery</p>
        </div>

    <div class="down-link d-flex flex-column align-items-center justify-content-center">
    <p><a href="#litter-section" class="text-decoration-none text-white">Choose a kitten</a></p>
    <img src="{{ asset('img/arrow/down.png') }}" alt="down arrow">
    </div>

    <div class="position-absolute cat-preview image-container left"><img src="{{ asset('img/cat-1.webp') }}" alt="cat"></div>
    <div class="position-absolute cat-preview image-container right"><img src="{{ asset('img/cat-2.webp') }}" alt="cat"></div>
</div>
 
<div class="container-fluid position-absolute z-2 main-content">
    <div class=" section-green section">
<div class="container d-flex flex-column align-items-center justify-content-center">
    <div class="title d-flex flex-column align-items-center justify-content-center">
    <h2>Welcome</h2>
    <img src="{{ asset('img/arrow/simple-arrow.png') }}" alt="arrow">
    <p>Welcome to our cozy cattery, where the Maine Coon is not just a breed but an unforgettable story of love, care, and magnificence.</p>
    </div>

    <div class="swiper swiper-home container slider-container">
        <div class="swiper-wrapper ">
            <div class="swiper-slide image-container"><img src="{{ asset('img/slider/1.webp') }}" alt="slider slide"></div>
            <div class="swiper-slide image-container"><img src="{{ asset('img/slider/2.webp') }}" alt="slider slide"></div>
            <div class="swiper-slide image-container"><img src="{{ asset('img/slider/3.webp') }}" alt="slider slide"></div>
            <div class="swiper-slide image-container"><img src="{{ asset('img/slider/4.webp') }}" alt="slider slide"></div>
            <div class="swiper-slide image-container"><img src="{{ asset('img/slider/5.webp') }}" alt="slider slide"></div>
        </div>
    
        <div class="swiper-pagination"></div>
    </div>
</div>
    </div>
<div class="section section-white container-fluid">
    <div class="container">
        <div class="title">
        <h2>About us</h2>
        </div>

        <div class="section-inner d-flex about-us home">
            <div class="side-image image-container shaded-grey col-md-3"><img src="{{ asset('img/default.png') }}" alt="cat"></div>
            <div class="aside-text d-flex flex-column align-items-start">
            <p>Each cat undergoes regular veterinary examinations, receives high-quality nutrition, and endless attention. Our care for your future four-legged friend begins right here.
Every personality is unique, and we proudly present to you our furry individualists. From affectionate cuddlers to unwavering explorers, we have a Maine Coon for every heart.</p>
            <div class="image-container">
                <img src="{{ asset('img/arrow/dark-arrow.png') }}" alt="arrow">
            </div>
            <button class="btn">Learn more</button>
            </div>  
        </div>
    </div>
</div>


<div class="section section-green container-fluid litter" id="litter-section">
    <div class="container d-flex flex-column align-items-center justify-content-center">
    {% if litter is not null %}
        <div class="title d-flex flex-column align-items-center justify-content-center">
            <h2>LITTER {{ litter.name }}</h2>
            <img src="{{ asset('img/arrow/simple-arrow.png') }}" alt="arrow">
            <p>{{ litter.date | date('d.m.Y') }}</p>
        </div>

        <div class="section-inner d-flex justify-content-center align-items-start litter__parents">
        <div class="col-3 col-md-4 cat-parent d-flex flex-column align-items-center">
            <div class="image-container shaded-green">
                <img src="{{ asset('img/cats/' ~ mother.imageLink )}}" alt="Cat mother">
            </div>
            <h4>{{ mother.name }}</h4>
        </div>

        <div class="parent-divider image-container mb-0">
            <img src="{{ asset('img/arrow/litter-divider-lg.png') }}" alt="arrow">
        </div>
        
        <div class="col-3 col-md-4 cat-parent d-flex flex-column align-items-center">
            <div class="image-container shaded-green">
                <img src="{{ asset('img/cats/' ~ father.imageLink )}}" alt="Cat father">
            </div>
            <h4>{{ father.name }}</h4>
        </div>
        </div>
    </div>
    <div class="section-white container custom-container section d-flex flex-wrap section-kittens justify-content-center">
        {% for kitten in kittens %}
            <div class="col-3 d-flex flex-column align-items-center">
                <div class="image-container">
                    <img src="{{ asset('img/kittens/' ~ kitten.imageLink )}}" alt="kitten">
                </div>
                <h4>{{ kitten.name }}</h4>
                <div class="kitten-status 
                {% if kitten.kittenStatus == 'At home' %}status-home{% endif %}
                {% if kitten.kittenStatus == 'Reserved' %}status-reserved{% endif %}
                {% if kitten.kittenStatus == 'Available' %}status-available{% endif %}">
                    <span>{{ kitten.kittenStatus }}</span>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <h2>No active litter available!</h2>
        {% endif %}
    </div>
</div>


{% include 'forms/contact_form.html.twig' %}
{% include 'footer.html.twig' %}
</div>
{% endblock %}
