{% extends 'base.html.twig' %}

{% block title %}Наши Кошки - Питомник Мейн Кунов | Уникальные питомцы{% endblock %}
{% block desc %}Познакомьтесь с нашими мейн кунами! Узнайте о каждом питомце, их характере, привычках и жизни в питомнике.{% endblock %}
{% block keywords %}наши кошки, мейн кун, питомник{% endblock %}
{% block canonical_url %}
    <link rel="canonical" href="{{ path('app_our_cats') }}" />
{% endblock %}
{% block body %}
<div class="container-fluid d-flex flex-column align-items-center justify-content-between home-preview position-fixed z-0">
</div>
<div class="container-fluid d-flex align-items-top justify-content-start preview-content position-fixed z-1">
    <div class="col-6 d-flex justify-content-center align-items-end">
        <img class="image-container col-9" src="{{ asset('img/our-cats.png')}}" alt="cat">
    </div>
   
    <div class="logo-group blured d-flex col-6 flex-column align-items-center justify-content-center">
            <h1>{{ 'Our cats'|trans }}</h1>
        <nav aria-label="breadcrumb">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem"
                class="breadcrumb-item">
                <a itemprop="item" href="{{ path('app_home') }}">
                    <span itemprop="name">{{ 'Main'|trans }}</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem"
                class="breadcrumb-item active">
                <a itemprop="item" href="{{ path('app_our_cats') }}">
                    <span itemprop="name">{{ 'Our cats'|trans }}</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
        </nav>
            <div class="arrow-group d-flex justify-content-between align-items-center">
                <div class="arrow-end"><img src="{{ asset('img/arrow/ending.svg') }}" alt="arrow end"></div>
                <div class="arrow-body"></div>
                <div class="arrow-end"><img src="{{ asset('img/arrow/ending.svg') }}" alt="arrow end"></div>
            </div>
            <h2 class="text-capitalize text-white">{{ 'Main Coons'|trans }}</h2>
        </div>
</div>

<div class="container-fluid position-absolute z-2 main-content">
        
            {% for cat in cats %}
                    <div class="section {% if loop.index0%2 == 0 %} section-white {% else %} section-green {% endif %}  container-fluid">
                        <div class="container">
                            <div class="d-flex flex-wrap">
                            {% if cat.female %}
                                <div class="col-10 d-flex justify-content-between cat-card ">
                                    <div class="d-flex flex-column align-items-center col-3">
                                        <div class="side-image image-container {% if loop.index0%2 == 0 %} shaded-grey {% else %} shaded-green {% endif %} cat-image">
                                            <img src="{{ asset('img/cats/' ~ cat.female.imageLink )}}" alt="cat">
                                        </div>
                                        <h3>{{ cat.female.name }}</h3>
                                    </div>
                                    <div class="aside-text d-flex flex-column align-items-start col-9">
                                        <p>{{ cat.female.description }}</p>
                                        <img src="{{ asset('img/arrow/dark-arrow.png') }}" alt="arrow">
                                    </div>  
                                </div>
                            {% endif %}
                            {% if cat.male %}
                                <div class="col-10 d-flex justify-content-between cat-card ">
                                    <div class="d-flex flex-column align-items-center col-3">
                                        <div class="side-image image-container {% if loop.index0%2 == 0 %} shaded-grey {% else %} shaded-green {% endif %} cat-image">
                                            <img src="{{ asset('img/cats/' ~ cat.male.imageLink )}}" alt="cat">
                                        </div>
                                        <h3>{{ cat.male.name }}</h3>
                                    </div>
                                    <div class="aside-text d-flex flex-column align-items-start col-9">
                                        <p>{{ cat.male.description }}</p>
                                        <img src="{{ asset('img/arrow/long-arrow.png') }}" alt="arrow">
                                    </div>  
                                </div>
                            {% endif %}
                            </div>    
                        </div>
                    </div>
        {% endfor %}
        {% include 'footer.html.twig' %}
</div>


{% endblock %}