<div class="section section-white">
    <div class="container">
        <div class="title">
        <h2>Contact us</h2>
        </div>

        <div class="section-inner d-flex">
            <div class="col-lg-5 col-md-4 d-none d-md-block">
                <div class="image-container col-lg-10 col-md-12">
                    <img src="{{ asset('img/cat-contact.webp') }}" alt="cat">
                </div>
            </div>
            <div class="col-md-1 col-lg-0"></div>
            <div class="col-lg-6 col-md-7">
                <p class="form-desc">If you have any questions or cooperation issues, fill out the form and we will contact you!</p>
                <div class="col-lg-7 col-md-10 form-wrapper">
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone, {'attr': {'id': 'phone'}}) }}
                    {{ form_row(form.message) }}

                    <button class="btn btn-primary">Send request</button>
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>