{% extends 'base.html.twig' %}
{% block index %}<meta name="robots" content="index, follow">{% endblock %}
{% block title %}О породе Мейн Кун - Уникальные кошки | Особенности и характер{% endblock %}
{% block desc %}Узнайте все о породе мейн кун: их характеристиках, здоровье и особенностях содержания. Идеальные питомцы для семьи и души!{% endblock %}
{% block keywords %}порода мейн кун, характеристики, особенности{% endblock %}
{% block canonical_url %}
    <link rel="canonical" href="{{ path('app_about_main_coon') }}" />
{% endblock %}
{% block body %}
<div class="container-fluid d-flex flex-column align-items-center justify-content-between home-preview position-fixed z-0">
</div>
<div class="container-fluid d-flex align-items-top justify-content-start preview-content position-fixed z-1">
    <div class="col-6 d-flex justify-content-center align-items-center">
        <img class="image-container col-9" src="{{ asset('img/about-us.webp')}}" alt="Main Coon cat">
    </div>
   
    <div class="logo-group blured d-flex col-6 flex-column align-items-center justify-content-center">
            <h1>{{ 'About breed'|trans }}</h1>
        <nav aria-label="breadcrumb">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem"
                class="breadcrumb-item">
                <a itemprop="item" href="{{ path('app_home') }}">
                    <span itemprop="name">{{ 'Main'|trans }}</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem"
                class="breadcrumb-item active">
                <a itemprop="item" href="{{ path('app_about_breed') }}">
                    <span itemprop="name">{{ 'About breed'|trans }}</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
        </nav>
            <div class="arrow-group d-flex justify-content-between align-items-center">
                <div class="arrow-end"><img src="{{ asset('img/arrow/ending.svg') }}" alt="arrow left end"></div>
                <div class="arrow-body"></div>
                <div class="arrow-end"><img src="{{ asset('img/arrow/ending.svg') }}" alt="arrow right end"></div>
            </div>
            <h2 class="text-capitalize text-white">{{ 'Main Coons'|trans }}</h2>
        </div>
</div>

<div class="container-fluid position-absolute z-2 main-content">

    <div class="section section-green container-fluid">
        <div class="container">
            <div class="title d-flex flex-column align-items-center justify-content-center">
                <h2>{{ 'About_breed.contents.title'|trans }}</h2>
                <img src="{{ asset('img/arrow/long-arrow.png') }}" alt="arrow">
                <ul>
                <li><a href="#">{{ 'About_breed.main_coons.breed_history.title'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section section-white container-fluid" id="breed-history">
        <div class="container">
            <div class="title">
            <h2>{{ 'About_breed.main_coons.breed_history.title'|trans }}</h2>
            </div>

            <div class="section-inner d-flex about-us">
                <div class="side-image image-container shaded-grey"><img src="{{ asset('img/default.png') }}" alt="История породы мейн кун" title="История породы мейн кун происхождение и развитие"></div>
                <div class="aside-text d-flex flex-column align-items-start">
                <p>{{ 'About_breed.main_coons.breed_history.text'|trans }}</p>
                <img src="{{ asset('img/arrow/dark-arrow.png') }}" alt="arrow">
                </div>  
            </div>
        </div>
    </div>

    <div class="section section-green container-fluid reversed">
        <div class="container">
            <div class="title">
            <h2>{{ 'About_breed.main_coons.appearance.title'|trans }}</h2>
            </div>

            <div class="section-inner d-flex about-us">
                <div class="aside-text d-flex flex-column align-items-end">
                <p>{{ 'About_breed.main_coons.appearance.text'|trans }}</p>
                <img src="{{ asset('img/arrow/long-arrow.png') }}" alt="arrow">
                </div> 
                <div class="side-image image-container shaded-green"><img src="{{ asset('img/default.png') }}" alt="Внешность мейн куна большие размеры пушистая шерсть и кисточки на ушах" title="Внешность мейн куна описание крупных кошек с кисточками на ушах"></div>
            </div>
        </div>
    </div>

    <div class="section section-white container-fluid">
        <div class="container">
            <div class="title">
            <h2>{{ 'About_breed.main_coons.character.title'|trans }}</h2>
            </div>

            <div class="section-inner d-flex about-us">
                <div class="side-image image-container shaded-grey"><img src="{{ asset('img/default.png') }}" alt="Характер мейн кунов дружелюбные спокойные и преданные кошки" title="Характер мейн кунов дружелюбие ум и независимость"></div>
                <div class="aside-text d-flex flex-column align-items-start">
                <p>{{ 'About_breed.main_coons.character.text'|trans }}</p>
                <img src="{{ asset('img/arrow/dark-arrow.png') }}" alt="arrow">
                </div>  
            </div>
        </div>
    </div>

    <div class="section section-green container-fluid reversed">
        <div class="container">
            <div class="title">
            <h2>{{ 'About_breed.main_coons.health.title'|trans }}</h2>
            </div>

            <div class="section-inner d-flex about-us">
                <div class="aside-text d-flex flex-column align-items-end">
                <p>{{ 'About_breed.main_coons.health.text'|trans }}</p>
                <img src="{{ asset('img/arrow/long-arrow.png') }}" alt="arrow">
                </div> 
                <div class="side-image image-container shaded-green"><img src="{{ asset('img/default.png') }}" alt="Здоровье мейн кунов склонность к наследственным заболеваниям и как их предотвратить" title="Здоровье мейн кунов частые болезни и как за ними ухаживать"></div>
            </div>
        </div>
    </div>

    <div class="section section-white container-fluid">
        <div class="container">
            <div class="title">
            <h2>{{ 'About_breed.main_coons.care.title'|trans }}</h2>
            </div>

            <div class="section-inner d-flex about-us">
                <div class="side-image image-container shaded-grey"><img src="{{ asset('img/default.png') }}" alt="Содержание и уход за мейн кунами как ухаживать за шерстью и здоровьем питомца" title="Содержание и уход за мейн кунами советы по уходу за шерстью и здоровьем"></div>
                <div class="aside-text d-flex flex-column align-items-start">
                <p>{{ 'About_breed.main_coons.care.text'|trans }}</p>
                <img src="{{ asset('img/arrow/dark-arrow.png') }}" alt="arrow">
                </div>  
            </div>
        </div>
    </div>


{% include 'footer.html.twig' %}
</div>


{% endblock %}
